a
{
	color: #22BCE0;
}
body
{
	background-color: #EEE;
	font-family: Verdana;
	font-size: 16px;	
}
header
{
	background: #343B54;
	color: #FFF;
}
header h1
{
	font-size: 18px;
	font-weight: normal;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}
header #logo img
{
	width: 52px;
}